<section class="about-middle"><!--about-middle start -->
  <div class="container">
    <div class="row">
      <div class="aboutus-desc">
        <h1 class="wow zoomIn animated" data-wow-delay="0.5s">About <em>HeyDay Technologies</em></h1>
        <p class="wow slideInRight animated" data-wow-delay="0.5s">
          <strong>HeyDay Technologies, </strong> started its journey some years ago from now.
          The founders of HeyDay Technologies always treated their clients like their friends and
          they not only provided them tech solutiuons but branding method as well..
        </p>
        <p class="wow slideInRight animated" data-wow-delay="0.5s">
          When <strong>HeyDay Technologies, </strong> was founded they saw a dream. A dream towards success and
          growth not only themselves but they wanted to work towards people's personal growth by their
          innovative ideas also.
        </p>
        <p class="wow slideInRight animated" data-wow-delay="0.5s"">
          Often teams deliver only what is told without going beyond the given scope and with a lackadaisical attitude towards greater value creation.
          At <strong>HeyDay Technologies, </strong> we always try to bring something new and innovative for the people and society as well. We deliver something beyond of expectations always!
          For <strong>HeyDay Technologies, </strong> profit is not everything. They believe in long business
          relationship with their clients.
        </p>
      </div>
    </div>
  </div>
</section><!--about-middle end -->