<section class="main-career-page">

     <div class="careers-head"><!--sitemap-banner start -->
       <div class="container">
         <div class="row">
           <h1>Be a part of us! </h1>
           <p class="text-center">Let's begin your career with
             <em>
               HeyDay Technologies
             </em>
           </p>
         </div>
       </div>
     </div><!--sitemap-banner end -->

     <div class="career-content">
       <div class="container">
         <div class="row">
           <div class="quote-part">
             <blockquote>
               <p class="">
                 Find out what you like doing best, and get someone to pay you for it.
                 <footer><cite title="Source Title">Katharine Whitehorn</cite> </footer>
               </p>
             </blockquote>
           </div>
         </div>
         <div class="row open-position">
           <h3>We have some open positions</h3>
           <div class="col-md-6 col-sm-6 col-xs-12">
             <ul>
               <li>
                 <a href="#" data-toggle="modal" data-target="#myModal">
                   Trainee Developer
                 </a>
               </li>
               <li>
                 <a href="#" data-toggle="modal" data-target="#myModalROR">
                   Ruby on Rails Developer
                 </a>
               </li>
             </ul>
           </div>
           <div class="col-md-6 col-sm-6 col-xs-12">
             <p>
               Please share your resume at <strong><em>career@heydaytechnologies.com</em></strong>
             </p>
           </div>
         </div>
       </div>
     </div>

   
   </section> <!--main-career-page end -->


   <!-- Modal code start -->

   <!-- Modal -->
   <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
     <div class="modal-dialog" role="document">
       <div class="modal-content">
         <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
           <h4 class="modal-title" id="myModalLabel">Minimum Requirement for Trainee Developer</h4>
         </div>
         <div class="modal-body">
           <div class="row">
             <div class="col-md-6 col-sm-6 col-xs-12 job-desc">
               <p>Experience :</p>
               <p>Job Location :</p>
               <p>Qualification :</p>
               <br>
               <p>Skills :</p>
             </div>
             <div class="col-md-6 col-sm-6 col-xs-12 job-requirement">
               <p> 0-1 year</p>
               <p>Indore</p>
               <p>Graduation or Post graduation Degree in computer science branch.</p>
               <p> Object Oriented Methodologies and its features, JS, JQuery, Web Technology.</p>
             </div>
           </div>
           <div class="row">
             <p class="text-center resume-para">
               Please share your resume at <em>career@heydaytechnologies.com</em>
             </p>
           </div>
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         </div>
       </div>
     </div>
   </div>

   <div class="modal fade" id="myModalROR" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
     <div class="modal-dialog" role="document">
       <div class="modal-content">
         <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
           <h4 class="modal-title" id="myModalLabel">Minimum Requirement for ROR Developer</h4>
         </div>
         <div class="modal-body">
           <div class="row">
             <div class="col-md-6 col-sm-6 col-xs-12 job-desc">
               <p>Experience :</p>
               <p>Job Location :</p>
               <p>Qualification :</p>
               <br>
               <p>Skills :</p>
             </div>
             <div class="col-md-6 col-sm-6 col-xs-12 job-requirement">
               <p> minimum 1+ year</p>
               <p>Indore</p>
               <p>Graduation or Post graduation Degree in computer science branch.</p>
               <p> Ruby and Rails framework with good communication skills, building web applications.</p>
             </div>
           </div>
           <div class="row">
             <p class="text-center resume-para">
               Please share your resume at <em>career@heydaytechnologies.com</em>
             </p>
           </div>
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         </div>
       </div>
     </div>
   </div>

   <!--Modal code end -->