
<section  class="middle-section"><!--middle-section start -->
  <div id="particles-js">
    <div class="container" id="containerId">
      <div class="row fixed_position">
        <div class="change_position">
          <div class="type-wrap" >
            <div id="typed-strings">
              <h1>Welcome at <strong>HeyDay Technologies</strong></h1>
              <h1>We turn dreams into reality</h1>
              <h1>People care about</h1>
              <p>Give us a chance!</p>
            </div>
            <span id="typed" style="white-space:pre;"></span>
          </div>

            <a href="#image"  class="btn btn-start tour ">Let's start a tour!</a> 
        </div>
      </div>
    </div>
  </div>
</section><!--middle-section end -->

<section class="how-we-work-section" id="image"><!--how-we-work-section start -->
  <div class="container">
    <div class="row">
      <h1 class="wow fadeInUp animated" data-wow-delay="0.5s">
        How <strong>HeyDay Technologies</strong> work?
      </h1>
    </div>  
    <div class="row">
      <div class="how-we-work-img" >
        <img src="/assets/how-we-work.png" class="img-responsive center-block" alt="How we work">
      </div>
    </div>
  </div>
</section><!--how-we-work-section end -->

<section class="we-are-global-section"><!--we-are-global-section start -->
  <div class="container">
    <div class="row">
      <div class="animation-element" id= "homeElimenth2">
        <h1 class="wow fadeInUp animated" data-wow-delay="0.5s">
          <em>HeyDay Technologies</em>
          Is a global desgin and development consultancy platform.
        </h1>
      </div> 
      <div class="col-md-3 col-sm-3 col-xs-12">
        <div class="icon">
          <i class="fa fa-cube fa-2x" aria-hidden="true"></i>
        </div>
        <p>Creative People</p>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12">
        <div class="icon">
          <i class="fa fa-connectdevelop fa-2x" aria-hidden="true"></i>
        </div>
        <p>Innovative Minds</p>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12">
        <div class="icon">
          <i class="fa fa-check-circle-o fa-2x"> </i>
        </div>
        <p>Quality</p>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12">
        <div class="icon">
          <i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i>
        </div>
        <p>Best Results</p>
      </div>
    </div>
  </div>
</section><!--we-are-global-section end -->

<section class="testimonial-section"><!--testimonial-section start -->
  <div class="container">
    <div class="row">
      <h2>Why people love us <i class="fa fa-smile-o" aria-hidden="true"></i></h2>
    </div>
    <div class="col-md-8 col-md-offset-2">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <p>
              Very professional team and Quick communication, They are not only best engineers but a true firend also. They “Also helped me how I can brand my web app and what marketing strategies I should follow. I would give them 10 on 10.

              <span><strong>Mr. Jhon Mathew</strong> Social Network, Uk</span>
            </p>
          </div>
          <div class="item">
            <p>
              Very interesting team and very responsive, They are damn good. 
              I would recommend give them.
              They are so innovative and creative geeks.
              <br>
              <span><strong>Mr. A. H. Hameed</strong> Web App, UAE</span>
            </p>
          </div>
              
          <div class="item">
            <p>
              Awesome team and Quick communication, They helped me to build my Web App “Also helped me how I can brand my web app, Now My app has 60,000 Users, and I would love to recommend HeyDay Technologies Team.
              <span><strong>Mr. Gorge</strong>Social App, USA</span>
            </p>                
          </div>
        </div>           
      </div>
    </div>
  </div>
</section><!--testimonial-section end -->

<section class="technical-stack-section"><!--technical-stack-section start -->
  <div class="container">
    <div class="row">
      <div class="animation-element" id= "homeElimenth2">
        <h1 class="wow fadeInUp animated" data-wow-delay="0.5s">
          <em>Technical Competencies</em>
        </h1>
        <p class="wow fadeInUp animated change-width" data-wow-delay="0.5s">
          We work in almost every major technology platforms to keep giving our clients most upgraded and innovative best quality software performance . With full stack web development , Ruby on Rails development and we are also able to build fully responsive websites that can be integrated with third-party APIs.
        </p>
      </div> 
      <%= image_tag("/assets/heydaytechnologies-technicalStack.jpg", :alt => "heydaytechnologies",class: "img-responsive center-block") %>
    </div>
  </div>
</section><!--technical-stack-section end -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script>
  $(function(){
    $("#typed").typed({
      stringsElement: $('#typed-strings'),
      typeSpeed: 100,
      backDelay: 500,
      loop: false,
      contentType: 'html', // or text
      // defaults to false for infinite loop
      loopCount: false,
      callback: function(){ foo(); },
      resetCallback: function() { newTyped(); }
    });

    $(".reset").click(function(){
      $("#typed").typed('reset');
    });
  });
  function newTyped(){ /* A new typed object */ }

  function foo(){ console.log("Callback"); }


$(".btn").click(function() {
    $('html,body').animate({
        scrollTop: $("#image").offset().top},
        2000);
});
/* Otherwise just put the config content (json): */

particlesJS('particles-js',
  
  {
    "particles": {
      "number": {
        "value": 120,
        "density": {
          "enable": true,
          "value_area": 800
        }
      },
      "color": {
        "value": "#ffffff"
      },
      "shape": {
        "type": "circle",
        "stroke": {
          "width": 0,
          "color": "#000000"
        },
        "polygon": {
          "nb_sides": 5
        },
        "image": {
          "src": "img/github.svg",
          "width": 100,
          "height": 100
        }
      },
      "opacity": {
        "value": 0.5,
        "random": false,
        "anim": {
          "enable": false,
          "speed": 1,
          "opacity_min": 0.1,
          "sync": false
        }
      },
      "size": {
        "value": 5,
        "random": true,
        "anim": {
          "enable": false,
          "speed": 40,
          "size_min": 0.1,
          "sync": false
        }
      },
      "line_linked": {
        "enable": true,
        "distance": 150,
        "color": "#ffffff",
        "opacity": 0.4,
        "width": 1
      },
      "move": {
        "enable": true,
        "speed": 6,
        "direction": "none",
        "random": false,
        "straight": false,
        "out_mode": "out",
        "attract": {
          "enable": false,
          "rotateX": 600,
          "rotateY": 1200
        }
      }
    },
    "interactivity": {
      "detect_on": "canvas",
      "events": {
        "onhover": {
          "enable": true,
          "mode": "repulse"
        },
        "onclick": {
          "enable": true,
          "mode": "push"
        },
        "resize": true
      },
      "modes": {
        "grab": {
          "distance": 400,
          "line_linked": {
            "opacity": 1
          }
        },
        "bubble": {
          "distance": 400,
          "size": 40,
          "duration": 2,
          "opacity": 8,
          "speed": 3
        },
        "repulse": {
          "distance": 200
        },
        "push": {
          "particles_nb": 4
        },
        "remove": {
          "particles_nb": 2
        }
      }
    },
    "retina_detect": true,
    "config_demo": {
      "hide_card": false,
      "background_color": "#b61924",
      "background_image": "",
      "background_position": "50% 50%",
      "background_repeat": "no-repeat",
      "background_size": "cover"
    }
  }

);

</script>
<!-- <script src="js/wow.min.js"></script> -->
<script>
  new WOW().init();
</script>
