<section class="services-banner"><!--services-banner start -->
  <div class="container">
    <div class="row">
      <h1  class="wow fadeInUp animated" data-wow-delay="0.5s">
        <em>HeyDay Technologies</em> provide creative and innovative ideas
      </h1>
      <h3 class="wow fadeInUp animated" data-wow-delay="0.5s">When you need a dependable and professional team, look no further.</h3>
    </div>
  </div>
</section><!--services-banner end -->

<section class="services-content"><!--services-content start -->
  <div class="container">
    <div class="row">
      <h1>Our Specialities</h1>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="services-box right wow fadeInUp animated" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
          <span class="services-icons fa fa-paper-plane animate"></span>
          <h3>Logo Design &amp; Branding</h3>
          <p>
            We have creative guys who can create your unique logo and make your brand
            unique and meaningfull.
            They are really innovative guys.
            They put their heart on their canvas and they are so imaginary too.
          </p>
        </div><!-- end servies-box -->
        <div class="services-box right wow fadeInUp animated" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
          <span class="services-icons fa fa-apple animate"></span>
          <h3>Custom Software development</h3>
          <p>
             We provide Top-Quality Custom Application Development Services. Our team has enough technology stacks to power you at every stage of your product development lifecycle.
          </p>
        </div><!-- end servies-box -->
        <div class="services-box right wow fadeInUp animated" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
          <span class="services-icons fa fa-street-view animate"></span>
          <h3>Startups ideas &amp; help</h3>
          <p>
            As a startup we know how to deal with a startup.
            We know how to help and what are the considerable points to the startups.
            We provide ideas too for the growing startups.
          </p>
        </div><!-- end servies-box -->
      </div>
      <div class="col-sm-6">
        <div class="services-box left wow fadeInUp animated" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
          <span class="services-icons fa fa-laptop animate"></span>
          <h3>Mobile App Development</h3>
          <p>
            We have an innovative team for the mobile app development.
            For them mobile app development is not just their task, but a fun for them.
            They can make your dream app real by their efforts.
          </p>
        </div><!-- end servies-box -->
        <div class="services-box left wow fadeInUp animated" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
          <span class="services-icons fa fa-code animate"></span>
          <h3>End-to-End Web Development Services</h3>
          <p>
            We have engineers who have great working experience in web app development.
            We provide end to end solutions.
            We are specialists in web design and development.
          </p>
        </div><!-- end servies-box -->
        <div class="services-box left wow fadeInUp animated" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
          <span class="services-icons fa fa-smile-o animate"></span>
          <h3>Client Support</h3>
          <p>
            We provide 24x7 (almost) hours support to our clients.
          </p>
        </div><!-- end servies-box -->
      </div>
    </div>
  </div>
</section><!--services-content end -->