<section class="sitemap-banner"><!--sitemap-banner start -->
<div class="container">
  <div class="row">
    <h1>Sitemap </h1>
  </div>
</div>
</section><!--sitemap-banner end -->

<section class="sitemap-content">
<div class="container">
  <div class="row">
    <div class="block-content">
      <div class="block-content-texts">
        <h2>Sitemap content</h2>

        <p>Here is an overview of the Site Map :</p>

        <ul>
          <li>The Homepage :&nbsp;<a href="index.html">HeyDay Technologies.com</a></li>
          <li>The Presentation of the HeyDay Technologies :&nbsp;
            <a href="aboutUs.html">HeyDay Technologies.com/about</a>
          </li>
          <li>The list of all the services by HeyDay Technologies :&nbsp;<a href="HeyDay Technologies.com/services">HeyDay Technologies.com/services</a></li>
          <li>HeyDay Technologies news and events :&nbsp;<a href="HeyDay Technologies.com/news">HeyDay Technologies.com/hts-channel</a></li>
          <li>The contact page :&nbsp;<a href="HeyDay Technologies.com/contact">HeyDay Technologies.com/contact</a></li>
          <li>The application page :&nbsp;<a href="HeyDay Technologies.com/let's-connect">HeyDay Technologies.com/let's-connect</a></li>
          <li>Our portfolio :&nbsp;<a href="HeyDay Technologies.com/works">HeyDay Technologies.com/works</a></li>
          <li>The press release page :&nbsp;<a href="HeyDay Technologies.com/hts-channel">HeyDay Technologies.com/hts-channel</a></li>
          <li>How HeyDay Technologies :&nbsp;<a href="HeyDay Technologies.com/services">HeyDay Technologies.com/services</a></li>
          <li>The Career page :&nbsp;<a href="HeyDay Technologies.com/careers">HeyDay Technologies.com/careers</a></li>
        </ul>

        <p>&nbsp;</p>
      </div>
    </div>
  </div>
</div>
</section>
