<section class="our-work-banner"><!--our-work-banner start -->
  <div class="container">
    <div class="row">
      <h1 class="animated fadeInUp" id= "workElimenth" >
        <em>HeyDay Technologies</em> provide great solutions 
      </h1>
      <h3 class="wow fadeInUp animated">We have worked on so many projects</h3>
    </div>
  </div>
</section><!--our-work-banner end -->

<section class="our-work-content"><!--our-work-content start -->
  <div class="container">
    <div class="row">
      <h1 class="text-center">Our Recent Creation</h1>
      <div class="col-md-6 col-sm-6 col-xs-12 our-work-content-left wow fadeInUp animated" style="animation-duration: 2000ms;">
        <div class="project-discussion">
          <img src="assets/1.png" class="center-block img-responsive" alt="HeyDay Technologies Project">
          <a class="project-title services-link" href="http://senitron.net/">
            Senitron
          </a>
          <p class="project-desc">
            Senitron was established in 2012 with the goal to make ‘hands-free RFID’ inventory, asset tracking, and automation a reality for the masses, to ultimately improve operational productivity, labor savings, customer loyalty and satisfaction, sales opportunities, operational cost reduction, and efficiency.
          </p>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12 our-work-content-right wow fadeInUp animated" style="animation-duration: 2000ms;">
        <div class="project-discussion">
          <img src="assets/2.png" class="center-block img-responsive" alt="HeyDay Technologies Project">
          <a class="project-title services-link" href="http://www.markmate.co.uk/">
            Mark Mate
          </a>
          <p class="project-desc">
            Mark Mate is a unique solution unlike anything else in the world. Leave written feedback in books, without the need to handwrite your comments.
            Mark Mate is 100%  controlled by your voice; children's names, grades, comments and buttons.
            Leaving your hands free to edit work in your normal way while 'saying' your feedback as you mark.​
            
          </p>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</section><!--our-work-content end -->