<section class="our-work-banner"><!--our-work-banner start -->
	<div class="container">
		<div class="row">
			<h1>
				<em>HeyDay Technologies</em> provide great solutions 
			</h1>
			<h3>We have worked on so many projects</h3>
		</div>
	</div>
</section><!--our-work-banner end -->

<section class="our-work-content"><!--our-work-content start -->
	<div class="container">
		<div class="row">
			<h1 class="text-center">Our Recent Creation</h1>
			<div class="col-md-6 col-sm-6 col-xs-12 our-work-content-left">
				<div class="project-discussion">
					<img src="assets/lucre.jpg" class="center-block img-responsive" alt="HeyDay Technologies Project">
					<a class="project-title" href="http://www.lgfresearch.com/">
						LgfResearch.com
					</a>
					<p class="project-desc">
						Lucre Global is an market share and financiary advisary web app.
						In this app we implemented so many great features.
						In this we have added paypal and social media plugins.
					</p>
				</div>
				<div class="project-discussion">
					<img src="assets/portugalux.jpg" class="center-block img-responsive" alt="HeyDay Technologies Project">
					<a class="project-title" href="http://portugalux.com/">
						portugalux.com
					</a>
					<p class="project-desc">
						This is hotel and tourism  booking  system in which user can book seasonal and vocational holiday , can get  coupon discount etc.
						having a vast admin panel , can manage everything from there like property, featured , discount, social management , user management , reports etc.
					</p>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12 our-work-content-right">
				<div class="project-discussion">
					<img src="assets/offerwalebabu.jpg" class="center-block img-responsive" alt="HeyDay Technologies Project">
					<a class="project-title" href="http://offerwalebabu.in/">
						OfferWaleBabu
					</a>
					<p class="project-desc">
						Offer Wale Babu is developed and designed by HeyDay Technologies.
						In this we have implemented so many latest features.
						Offer Wale Babu is a platform to check hot offers and deals with your rates.
						We are working towards AI for this.
					</p>
				</div>
				<div class="project-discussion">
					<img src="assets/directdienst_netsimpel.jpg" class="center-block img-responsive" alt="HeyDay Technologies Project">
					<a class="project-title" href="http://directdienst.netsimpel.com/workora/">
						directdienst.netsimpel.com
					</a>
					<p class="project-desc">
						this is job portal made in laravel framework . simply logic behind this project is a needed end user will post a job according to their requirement and company or individual belonging to this  job category and apply on the job.
					</p>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</section><!--our-work-content end -->